<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="~/img/favicon.png" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <!-- Thêm vào _Layout.cshtml hoặc View -->
    <link href="~/css/Style-header.css" rel="stylesheet" />
    <link href="~/css/Style-footer.css" rel="stylesheet" />
    <link href="~/css/dropdown_menu.css" rel="stylesheet" />

    @using TMDT_cuoiKi.Data  <!-- thay bằng namespace chứa ShopHueDaQuaContext -->

</head>
<body>
    <div class="header">
        <!-- HEADER TOP -->
        <div class="header-top">
            <div class="container">
                <div class="left">
                    <div><i class="fas fa-phone"></i> +0702-500-230</div>
                    <div><i class="fas fa-envelope"></i> thanh261220@gmail.com</div>
                    <div><i class="fas fa-map-marker-alt"></i> 48 Cao Thắng, TP. Đà Nẵng</div>
                </div>
                <div class="right">
                    <div><i class="fas fa-dollar-sign"></i> Số dư</div>
                    <div><i class="fas fa-user"></i> Tài khoản</div>
                </div>
            </div>
        </div>

        <!-- HEADER BOTTOM -->
        <div class="header-bottom">
            <div class="container">

                <!-- Logo -->
                <div class="logo">
                    <img src="~/img/logo.png" alt="Logo">
                </div>

                <!-- Search -->
                <div class="search-box">
                    <input type="text" placeholder="Bạn cần tìm gì ?">
                    <button><i class="fas fa-search"></i></button>
                </div>

                <!-- Hotline -->
                <div class="hotline">
                    <i class="fas fa-headset"></i> Hotline: 19001599
                </div>

                <div class="icons">
                    <div>
                        <i class="fas fa-user"></i>
                    </div>
                    <div>
                        <i class="fas fa-map-marker-alt"></i>
                        <span class="badge">5</span>
                    </div>
                    <div>
                        <i class="fas fa-shopping-cart"></i>
                        <span class="badge">7</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="nabar-container">
            <div class="navbar">
                <div class="menu-left">
                    <i class="fa fa-bars"></i>
                    <span>Tất cả danh mục</span>

                    <div class="dropdown-container">
                        <div class="sidebar">
                            <div class="sidebar-item active" data-tab="danang">Đặc sản Đà Nẵng</div>
                            <div class="sidebar-item" data-tab="hue">Đặc sản Huế</div>
                            <div class="sidebar-item" data-tab="quangnam">Đặc sản Quảng Nam</div>

                        </div>

                        <div class="content-area">
                            <!-- Tab Đà Nẵng -->
                            @{
                                var db = new ShopHueDaQuaContext();

                                // Lấy các danh mục có liên quan đến "Đặc sản Đà Nẵng"
                                var danhSachDaNang = db.DanhMucs
                                .Where(d => d.TenDacSan == "Đặc sản Đà Nẵng")
                                .ToList();
                            }

                            <div class="tab-content active" id="danang">
                                <div class="header-title">
                                    <div>Đặc sản Đà Nẵng <span class="angle-icon">›</span></div>
                                </div>

                                <div class="products-grid">
                                    @foreach (var item in danhSachDaNang)
                                    {
                                        <div class="product-card_category">
                                            <div class="product-img">
                                                <img src="@item.HinhAnh" alt="@item.TenDanhMuc">
                                            </div>
                                            <div class="product-name">@item.TenDanhMuc</div>
                                        </div>
                                    }
                                </div>
                            </div>

                            <!-- Tab Huế -->
                            @{
                                // Lấy các danh mục có liên quan đến "Đặc sản Đà Nẵng"
                                var danhSachHue = db.DanhMucs
                                .Where(d => d.TenDacSan == "Đặc sản Huế")
                                .ToList();
                            }

                            <div class="tab-content" id="hue">
                                <div class="header-title">
                                    <div>Đặc sản Huế <span class="angle-icon">›</span></div>
                                </div>

                                <div class="products-grid">
                                    @foreach (var item in danhSachHue)
                                    {
                                        <div class="product-card_category">
                                            <div class="product-img">
                                                <img src="@item.HinhAnh" alt="@item.TenDanhMuc">
                                            </div>
                                            <div class="product-name">@item.TenDanhMuc</div>
                                        </div>
                                    }
                                </div>
                            </div>


                            <!-- Tab Quảng Nam -->
                            @{
                                // Lấy các danh mục có liên quan đến "Đặc sản Đà Nẵng"
                                var danhSachQuangNam = db.DanhMucs
                                .Where(d => d.TenDacSan == "Đặc sản Quảng Nam")
                                .ToList();
                            }

                            <div class="tab-content" id="quangnam">
                                <div class="header-title">
                                    <div>Đặc sản Quảng Nam <span class="angle-icon">›</span></div>
                                </div>

                                <div class="products-grid">
                                    @foreach (var item in danhSachQuangNam)
                                    {
                                        <div class="product-card_category">
                                            <div class="product-img">
                                                <img src="@item.HinhAnh" alt="@item.TenDanhMuc">
                                            </div>
                                            <div class="product-name">@item.TenDanhMuc</div>
                                        </div>
                                    }
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="menu-right">
                    <a href="#">Trang chủ</a>
                    <a href="#">Giới thiệu</a>
                    <a href="#">Sản phẩm</a>
                    <a href="#">Blog</a>
                    <a href="#">Liên hệ</a>
                </div>
            </div>
        </div>
    </div>

    @RenderBody()

    <script src="https://app.tudongchat.com/js/chatbox.js"></script>
    <script>
        const tudong_chatbox = new TuDongChat('gQcYRq1IMero53NS1Lzft')
        tudong_chatbox.initial()
    </script>
    <div class="footer">
        <div class="container">
            <!-- Cột 1 -->
            <div class="footer-column-1">
                <div class="logo-title">
                    <img src="~/img/logo_2.png" alt="Logo" />
                </div>
                <p>
                    Chúng tôi hi vọng tất cả người tiêu dùng Việt Nam được sử dụng những đặc sản ngon nhất miền Trung,
                    dịch vụ tận tâm và trải nghiệm mua sắm tiện lợi tại cửa hàng Đặc sản miền Trung.
                </p>
                <h3>HÌNH THỨC THANH TOÁN</h3>
                <div class="payment-icons">
                    <img src="~/img/paypal.png" alt="PayPal" />
                    <img src="~/img/american express.png" alt="American Express" />
                    <img src="~/img/visa.png" alt="Visa" />
                    <img src="~/img/mastercard.png" alt="MasterCard" />
                </div>
            </div>

            <!-- Cột 2 -->
            <div class="footer-column-2">
                <h3>CHÍNH SÁCH</h3>
                <p>Chính sách thành viên</p>
                <p>Chính sách thanh toán</p>
                <p>Chính sách bảo hành</p>
                <p>Chính sách trả góp</p>
                <p>Bảo mật thông tin cá nhân</p>
            </div>

            <!-- Cột 3 -->
            <div class="footer-column-3">
                <h3>THÔNG TIN CHUNG</h3>
                <p><strong>Địa chỉ:</strong> 48 Cao Thắng, Hải Châu, Đà Nẵng</p>
                <p><strong>Điện thoại:</strong> 19001599</p>
                <p><strong>Email:</strong> dacsanmientrung@gmail.com</p>
                <h3>Kết Nối Sàn</h3>
                <div class="social-icons">
                    <img src="~/img/facebook.png" alt="Facebook" />
                    <img src="~/img/instagram.png" alt="Instagram" />
                    <img src="~/img/twitter.png" alt="Twitter" />
                    <img src="~/img/google.png" alt="Google" />
                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/dropdown_danhmuc.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
